@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: grid;
    grid-template: 1fr 4fr /2fr 11fr;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.header {
    grid-area: 1 / 2 / 2/ 3;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-auto-flow: row;
    box-shadow: 2px 2px 5px grey;
    z-index: 1;
}

.header-utility {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-content: center;
    gap: 10px;
    padding: 15px;
}

.header-left {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
}

.header-right {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 100px;
    
}

.header-utility input {
    height: 35px;
    width: 700px;
    border-radius: 20px;
    background-color: lightgray;
    border:none
}

.header-utility svg {
    height: 25px;
    width: 25px;
}
.header-utility img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.header-interface {
    display: grid;
    grid-template: 1fr / 1fr 6fr 4fr;
    align-content: center;
    justify-items: space-around;
    padding: 15px 25px;
    
}

.header-interface img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    grid-area: 1/ 1/ 3/ 2
}

.header-interface, .interface-text {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    gap: 5px;
}

.interface-input {
    grid-area: 1/ 3/ 3/ 4;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: center;
    gap: 20px;

}

.interface-input button {
    height: 40px;
    width: 100px;
    border-radius: 25px;
    color: white;
    background-color: rgb(40, 154, 255);
    font-weight: bold;
    font-size: large;
    border: none;
}

.main {
    grid-area: 2 / 2 / 3/ 3;
    background-color: lightgray;
    display: grid;
    grid-template: 6fr 5fr/ 13fr 4fr;
    padding: 40px;
    gap: 40px;
}

.trending-container {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    gap: 10px;
    /* padding: 30px; */
}

.trending-text {
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 2px 2px 5px grey;
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
}

.user-card {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    gap: 15px;
}

.user-card img {
    height: 50px;
    width: 50px;
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 50%;
    align-content: center;
}

.user-card .username {
    font-weight: bold;
    font-size: lighter;
}

.user-card .userblurb {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    font-size: lighter;
}

.announcement-container {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-auto-flow: row;
    align-content: start;
    gap: 10px;
}

.announcement-text {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

hr {
    width: 100%;
    flex-shrink: 0;
    height: 1px;   
}

.project-container {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.project-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    gap: 40px;
}

.project-title {
    font-weight: bold;
    font-size: large;
    align-self: end;
}

.project-icons {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    justify-content: end;
    align-self: end;
    gap: 5px;
}


.project-card {
    background-color: white;
    box-shadow: rgb(255, 185, 87) -10px 0px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    
}

.project-icons, .project-title, .project-text {
    padding: 10px;
}

.project-icons svg {
    height: 25px;
    width: 25px;
}

.sidebar {
    grid-area: 1 / 1 / 3/ 2;
    background-color: rgb(40, 154, 255);
    display: grid;
    grid-template: 1fr 4fr 5fr / 1fr;
    grid-auto-flow: row;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    justify-items: start;
    align-items: start;
}
.sidebar svg {
    width: 20px;
    height: 20px;
    fill: white;
}
.sidebar-title {
    font-weight: bolder;
    font-size: 30px;
    display: grid;
    grid-auto-flow: column;
    gap:10px
}

.sidebar-title svg {
    height: 40px;
    width: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    padding-left: 10px;
}
li {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: start;
}

.project-header-text {
    font-weight: bold;
    font-size: large;
}
