@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: grid;
    grid-template: 1fr 4fr /2fr 11fr;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.header {
    grid-area: 1 / 2 / 2/ 3;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-auto-flow: row;
    box-shadow: gray 1px 1px;
}

.header-utility {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-content: center;
    gap: 10px;
    padding: 15px;
}

.header-left {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
}

.header-right {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 100px;
    
}

.header-utility input {
    height: 35px;
    width: 700px;
    border-radius: 20px;
    background-color: lightgray;
    border:none
}

.header-utility svg {
    height: 25px;
    width: 25px;
}
.header-utility img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.header-interface {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 6fr 4fr;
    align-content: center;
    padding: 20px;
    box-shadow: gray 10px 10px;
}

.header-interface img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    grid-area: 1/ 1/ 3/ 2
}

.header-interface .greeting {
    grid-area: 1/ 2/ 2/ 3
}

.header-interface .name {
    grid-area: 2/ 2/ 3/ 3
}

.interface-input {
    grid-area: 1/ 3/ 3/ 4;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: center;
    gap: 20px;

}

.interface-input button {
    height: 40px;
    width: 100px;
    border-radius: 25px;
    color: white;
    background-color: rgb(40, 154, 255);
    font-weight: bold;
    font-size: large;
    border: none;
}

.main {
    grid-area: 2 / 2 / 3/ 3;
    background-color: yellow;
    display: grid;
}
.sidebar {
    grid-area: 1 / 1 / 3/ 2;
    background-color: rgb(40, 154, 255);
    display: grid;
    grid-template: 1fr 4fr 5fr / 1fr;
    grid-auto-flow: row;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    justify-items: start;
    align-items: start;
}
.sidebar svg {
    width: 20px;
    height: 20px;
    fill: white;
}
.sidebar-title {
    font-weight: bolder;
    font-size: 30px;
    display: grid;
    grid-auto-flow: column;
    gap:10px
}

.sidebar-title svg {
    height: 40px;
    width: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    padding-left: 10px;
}
li {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: start;
}
