body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    padding: 0;
    margin: 0;
    overflow: none;
}

.header {
    border: 1px grey solid;
    padding: 10px;
    align-content: center;
}

.header > button {
    width: 60px;
}

input, button {
    border-radius: 10px;
    padding: 5px 3px;
    border: 1px grey solid;
}

#library {
    display: grid;   
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    padding: 12px;
    overflow: none;
}

.book-container {
    border: 1px grey solid;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 6fr;
    padding: 10px;
}

.book-container > button {
    display: grid;
    justify-self: end;
    align-self: end;
}