.main {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    outline: 2px solid red;
  }

button {
    background-color: #596D48;
    color: white;
    padding: auto;
    border-radius: 5%;
    box-shadow: grey 2px 1px 3px;
    border: 0px;
    font-weight: bold;
}

.form-container {
    box-shadow: rgb(191, 191, 191) 1px 4px 1px;
    display: inline-block;
}

h1 {

}

/* input, label {
    display: block;
} */

/* .input-container {
    display: block;
} */