@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    height: 80%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eeeeee;
    height: 10%;
}

.left-links, .right-links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 20px;
}

a {
    text-decoration: none;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
    list-style-type: none;
}